#AUTH
CLIENT_ID=??
PROJECT_ID=??
AUTH_URI=??
TOKEN_URI=https://oauth2.googleapis.com/token
AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
CLIENT_SECRET=??
REFRESH_TOKEN=??

#CALENDAR
GOOGLE_API_URL=https://www.googleapis.com
CALENDAR_ID=??

#CLICKUP
CLICKUP_API_URL=https://api.clickup.com
CLICKUP_TOKEN=??
CLICKUP_TEAM_Id=??
CLICKUP_USER_ID=??